<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
{% block head %} <title>Minu esimene veebileht</title> {% endblock %}
</head>

<body>

{% block body %}
<h1>Postitused</h1>
<h2>Kirjuta uus tegevus: </h2>
<form action='/' method='POST'>
Pealkiri: <input type='text' name='title' id='title'>
<br>
Sisu: <input type='text' name='content' id='content'>
<br>
<input type='date' id='due' name='due'>
<br>
<input type='submit' value='Saada'>

</form>
{% endblock %}

{% for tegevus in tegevused %}
<h2>{{ tegevus.title }}</h2>
<h3>Sisu: {{ tegevus.content }}</h3>
<p>Tähtaeg: {{ tegevus.due.strftime('%d/%m') }}
<button style='color: red'>Kustuta</button>
{% endfor %}

</body>

</html>