<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Ajaplaneerija</title>
  </head>

  <body>
    {% block body %}
    <h1>ajaplaneerija</h1>
    <h2>Kirjuta uus tegevus:</h2>
    <form action="/" method="POST">
      Pealkiri: <input type="text" name="title" id="title" />
      <br />
      Sisu: <input type="text" name="content" id="content" />
      <br />
      Kategooria:
      <select name="category" id="category">
        <option value=""></option>
        <option>Kool</option>
        <option>Kodu</option>
        <option>Töö</option>
        <option>Tähtpäevad</option>
      </select>
      <br />
      <input type="date" id="due" name="due" />
      <br />
      Tähtaeg<input type="submit" value="Saada" />
    </form>
    {% endblock %} {% for tegevus in tegevused %}
    <h2>{{ tegevus.title }}</h2>
    <p>Sisu: {{ tegevus.content }}</p>
    <p>Kategooria: {{ tegevus.category }}</p>
    <p>
      Tähtaeg: {{ tegevus.due.strftime('%d/%m') }}
      <button style="color: red">Kustuta</button>
      {% endfor %}
    </p>
  </body>
</html>
